version: 2.1
executors:
  docker-executor:
    docker:
      - image: cimg/base:2022.09
        auth:
          username: $DOCKERHUB_USERNAME
          password: $TOCKEN_DOCKER
workflows:
  version: 2
  build-and-push:
    jobs:
      - build-and-push
jobs:
  build-and-push:
    executor: docker-executor
    environment:
      DOCKER_IMAGE: laborifermc/node-js-sample # Remplacez par votre namespace et nom d'image DockerHub
      DOCKER_TAG: latest                       # Vous pouvez changer ce tag
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Login to DockerHub
          command: |
            docker login -u $DOCKERHUB_USERNAME -p $TOKEN_DOCKER
      - run:
          name: Build Docker Image
          command: |
            curl localhost:8080
            docker build -t vblaas/node-js-sample-cour:latest .
      - run:
          name: Push Docker Image to DockerHub
          command: |
            docker push vblaas/node-js-sample-cour:latest
