version: 2.1
executors:
  docker-executor:
    docker:
      - image: cimg/base:2022.09
      auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
workflows:
  version: 2
  build-and-push:
    jobs:
      - build-and-push
jobs:
  build-and-push:
    executor: docker-executor
    environment:
      DOCKER_IMAGE: laborifermc/node-js-sample # Remplacez par votre namespace et nom d'image DockerHub
      DOCKER_TAG: latest                       # Vous pouvez changer ce tag
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Login to DockerHub
          command: |
            echo $DOCKERHUB_PASSWORD | docker login -u $DOCKERHUB_USERNAME --password-stdin
      - run:
          name: Build Docker Image
          command: |
            docker build -t $DOCKER_IMAGE:$DOCKER_TAG .
      - run:
          name: Push Docker Image to DockerHub
          command: |
            docker push $DOCKER_IMAGE:$DOCKER_TAG
